<section class="home-section" id="home">
    <div class="container">
        <h1 class="visually-hidden">Catch the wind</h1>
        <div class="home-wrapper">
            <picture>
                <source srcset="
                /img/home/hero-desk.png 1x,
                /img/home/hero-desk@2x.png 2x
                " media="(min-width: 1440px)" />
                <source srcset="
                /img/home/hero-mob.png 1x,
                /img/home/hero-mob@2x.png 2x
                " media="(max-width: 1439px)" />
                <img class="hero-logo" src="/img/home/hero-mob.png" alt="Catch the wind" loading="lazy" />
            </picture>
            <p class="home-text">Figure out where you're going,<br/>
            trust the wind, and just...<br class="mob"/>
            keep sailing, I guess.</p>
            <a class="home-link btn" href="#demo">
                <p>Start the Journey</p>
            </a>
        </div>
    </div>
</section>
<section class="world-section" id="world">

    <div class="headline-container">
        <p>World & Story</p>
    </div>
        <div class="container">
    <div class="title-container">
        <h2  data-text="A Journey That Continues">A Journey That Continues</h2>
    </div>
    <div class="world-wrapper">
        <p class="world-text">The sea is never truly the same twice.<br/>Familiar routes change. Winds shift.<br/>
        New paths appear where none existed before.<br/>
        In Catch The Wind, you return to a world shaped by salt, sun, and stories carried across the water.</p>
        <img src="/img/world/captainpic.png" alt="Catch the wind" loading="lazy" />
        <p class="world-text">Your captain's not some show-off trying to get famous. They're more like that weathered sailor who just knows stuff -
        like they'll glance at the clouds and go 'storm's coming' or somehow always catch the perfect wind.<br class="desk"/> This is not a race.
        It is a voyage.</p>
    </div>
</div>
</section>