.footer{
  background: #174a85;
  margin-top: -1px;
}
.footer-container{
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.footer-navigation{
  display: flex;
  justify-content: center;
  gap: 15px;
  font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #e3effc;
}
.footer-text{
  color: #e3effc;
  font-weight: 400;
}
@media only screen and (min-width: 1440px) {
  .footer-container{
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .footer-navigation{
    gap: 8px;
  }
}