.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
.home-section{
    background: #63b0ff;
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-size: 100% 800px;
    background-position: top center;
    
}
.home-wrapper{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-text{
    font-family: "Barlow Semi Condensed", sans-serif;
font-weight: 600;
font-size: 24px;
text-align: center;
color: #28160c;
margin-top: 400px;
margin-bottom: 40px;
}
@media only screen and (min-width: 1440px) {
 .home-section{
    background-image: url("/img/home/desk.png");
    background-size: cover;
    height: 800px;
 }  
 .home-wrapper{
    margin-right: 0;
    margin-left: auto;
    margin-top: 120px;
    align-items: start;
    width: 584px;
 } 
 .home-text{
    font-size: 32px;
    margin-top: 48px;
    margin-bottom: 48px;
    text-align: left;

 }
 .mob{
    display: none;
 }
}
/* World & Story */
.world-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 327px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
}
.desk{
    display: none;
}
@media only screen and (min-width: 1440px) {
.world-wrapper{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 993px;
    gap: 24px;
width: 993px;
    margin-top: 120px;
}
.world-text{
    width: 360px;
}
.desk{
    display: block;
}
}
/* Core Gameplay Experience */
.core-section{
    background-image: url("/img/core/mob.png");
    background-repeat: no-repeat;
    background-size: 100% 493px;
    background-position: bottom center;
    height: 815px;
}
.core-text{
    margin-top: 24px;
}
@media only screen and (min-width: 1440px) {
.core-section {
        background-image: url("/img/core/desk.png");
        background-size: 100% 1009px;
        height: 1110px;
    }
}
/* Special Movement Mechanics */
.special-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 310px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 26px;
}
.special-item{
    border: 4px solid #174a85;
        border-radius: 16px;
        padding: 24px 22px;
        width: 310px;
        height: auto;
        background: linear-gradient(180deg, #6f9fd7 0%, #174a85 100%);
display: flex;
flex-direction: column;
align-items: center;
gap: 16px;
    color: #e3effc;
}
.special-img{
    width: 100px;
    height: 100px;
}
@media only screen and (min-width: 1440px) {
 .special-list{
    margin-top: 32px;
    gap: 48px;
    flex-direction: row;
    justify-content: center;
    width: 1026px;
        height: 300px;
 }
 .special-item{
    width: 310px;
        height: 300px;
 }
 .special-img{
    width: 140px;
    height: 140px;
 }
}
/* Extended Exploration Mode */
.mode-section{
    background-image: url("/img/mode/mob.png");
    background-repeat: no-repeat;
    background-size: 100% 428px;
    background-position: bottom center;
    height: 678px;
}
.mode-text{
    margin-top: 24px;
}
@media only screen and (min-width: 1440px) {
  .mode-section{
    background-image: url("/img/mode/desk.png");
    background-size: 100% 831px;
    height: 931px;
  }
}
/* Atmosphere & Sound */
.atmosphere-section{
    background: linear-gradient(180deg, #e3effc 0%, #aed1fa 100%);
}
.atmosphere-wrapper{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
@media only screen and (min-width: 1440px) {
 .atmosphere-wrapper{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 908px;
    margin-left: auto;
    margin-right: auto;
 }
}
/* For Players Who Enjoy the Journey */
.players-section{
    background-image: url("/img/players/mob.png");
    background-repeat: no-repeat;
    background-size: 100% 371px;
    background-position: bottom center;
        height: 660px;
}
.players-text{
    margin-top: 24px;
    width: 303px;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (min-width: 1440px) {
.players-section{
    background-image: url("/img/players/desk.png");
    background-size: 100% 810px;
height: 1055px;
}
.players-text{
    width: 579px;
}
}